/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: left;
  position: relative;
  overflow: hidden;
  background-image: url("../../static/img/background.png");
  background-repeat: no-repeat;
  background-size:1600px 900px;
}


/* @media screen and (max-width: 966px) {
  .heroBanner {
    padding: 10rem;

  }

} */

.buttons {
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 10px;
}

